@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #00ACED;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #0278a5;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.main {
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 90vh;
  background-color: white;
}

main {
  position: relative;
  overflow: scroll;
}
main .errMsg {
  background-color: #fd6f6f;
  min-width: 300px;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
  -webkit-animation: from-up-to-down 0.7s;
          animation: from-up-to-down 0.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  padding: 1rem 1.3rem;
  line-height: 20px;
  z-index: 99;
}

a {
  text-decoration: none;
}

.main-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .main {
    display: flex;
    position: relative;
  }
  .main .errMsg {
    font-size: 12px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: unset;
    width: 100%;
    border-radius: 0;
    padding: 0.5rem 1rem;
  }
}
@-webkit-keyframes from-up-to-down {
  from {
    transform: translate(-50%, -150%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes from-up-to-down {
  from {
    transform: translate(-50%, -150%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
header {
  background-color: #00ACED;
  padding: 1rem;
  z-index: 1;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: white;
  font-size: 1.5rem;
}

.nav {
  width: 100px;
  max-height: 90vh;
  padding: 2rem 0;
  background-color: rgba(233, 227, 227, 0.368627451);
}
.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul li a {
  min-width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav ul li a .req {
  background-color: #ff3b3b;
  width: 16px;
  height: 16px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
}
.nav ul li i {
  color: #707070;
  font-size: 25px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}
.nav ul li i:hover {
  color: #00ACED;
}
.nav ul li .user-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.nav ul li .user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #707070;
}
.nav ul li .user-info h3 {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  text-align: center;
  word-break: break-all;
}
.nav ul li a.active i {
  color: #00ACED;
}
.nav ul li a.active .user-info img {
  border: 3px solid #00ACED;
}
.nav ul li a.active .user-info h3 {
  color: #00ACED;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 668px) {
  .nav {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav ul {
    display: unset;
    flex-direction: unset;
    justify-content: unset;
    display: flex;
    gap: 1rem;
    padding: 0;
    width: 100%;
    height: 80px;
  }
  .nav ul li {
    height: 80px;
  }
  .nav ul li .user-info h3 {
    display: none;
  }
}
.login, .register {
  padding: 4rem;
  position: relative;
  overflow-y: scroll;
}
.login .container, .register .container {
  background-color: rgba(233, 227, 227, 0.368627451);
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 500px;
  margin: auto;
}
.login .container h2, .register .container h2 {
  font-size: 18px;
  font-weight: 500;
  color: #00ACED;
}
.login .container h3, .register .container h3 {
  font-size: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7803921569);
}
.login .container h4, .register .container h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7803921569);
}
.login .container form, .register .container form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.8rem;
}
.login .container form label, .register .container form label {
  display: none;
}
.login .container form input, .register .container form input {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1px solid #00ACED;
  font-size: 16px;
}
.login .container form input:focus, .register .container form input:focus {
  outline: none;
}
.login .container form input.invailed, .register .container form input.invailed {
  border-color: red;
}
.login .container form .img-upload, .register .container form .img-upload {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
}
.login .container form .img-upload input, .register .container form .img-upload input {
  display: none;
}
.login .container form .img-upload label, .register .container form .img-upload label {
  display: block;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.login .container form .img-upload label i, .register .container form .img-upload label i {
  font-size: 15px;
}
.login .container form .img-upload .img-prev, .register .container form .img-upload .img-prev {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.login .container form .img-upload .img, .register .container form .img-upload .img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login .container form button, .register .container form button {
  padding: 0.7rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #00ACED;
  color: white;
  margin: 1rem auto;
  transition: 0.4s ease all;
}
.login .container form button:hover, .register .container form button:hover {
  transform: scale(1.1, 1.1);
}
.login .container form .loading, .register .container form .loading {
  align-self: center;
}
.login .container p, .register .container p {
  color: rgba(0, 0, 0, 0.7803921569);
}
.login .container p a, .register .container p a {
  color: #00ACED;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 668px) {
  .login, .register {
    width: 100%;
    height: calc(100% - 80px);
    padding: 0;
  }
  .login .container, .register .container {
    width: 100%;
    height: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
    border-radius: 0;
    overflow-y: scroll;
    padding-top: 2rem 1rem;
    justify-content: unset;
    align-items: center;
  }
  .login .container h3, .register .container h3 {
    font-size: 25px;
    font-weight: 600;
  }
  .login .container h4, .register .container h4 {
    font-size: 14px;
  }
  .login .container form, .register .container form {
    width: 100%;
    padding: 0;
    max-width: 350px;
  }
}
@media (min-width: 669px) and (max-width: 1023px) {
  .login, .register {
    width: 100%;
    padding: 0;
  }
  .login .container, .register .container {
    width: 100%;
    height: 100%;
    justify-content: unset;
    padding-top: 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.2392156863);
  }
  .login .container form, .register .container form {
    width: 100%;
    padding: 0;
    max-width: 450px;
    gap: 1rem;
  }
}
.search {
  display: flex;
}
.search .container {
  width: 350px;
  max-height: 90vh;
  overflow-y: scroll;
  border-right: 3px solid #e9e3e3;
  padding: 2rem 1rem;
  padding-bottom: 5rem;
  position: relative;
}
.search .container .friend-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
  gap: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
}
.search .container .friend-nav ul li {
  position: relative;
  cursor: pointer;
  transition: 0.4s ease all;
  color: #707070;
  display: flex;
  gap: 0.3rem;
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .container .friend-nav ul li span {
  background-color: #00ACED;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
}
.search .container .friend-nav ul li.active {
  color: black;
  font-weight: 500;
}
.search .container .friend-nav ul li.active::before {
  background-color: black;
}
.search .container .friend-nav ul li:hover {
  color: black;
}
.search .container .friend-nav ul li:hover::before {
  background-color: black;
}
.search .container form {
  background-color: rgba(233, 227, 227, 0.368627451);
  display: flex;
  width: 100%;
  height: 42px;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
}
.search .container form input {
  width: 90%;
  padding: 0.2rem 1rem;
  border: none;
  background-color: transparent;
}
.search .container form input:focus {
  outline: none;
}
.search .container form button, .search .container form p {
  padding: 0 1rem;
  width: 10%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search .container form label {
  display: none;
}
.search .container .list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.search .container .list-container .not-found {
  text-align: center;
}
.search .container .list-container .card {
  width: 100%;
  height: 70px;
  display: flex;
  gap: 1rem;
}
.search .container .list-container .card img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.search .container .list-container .card div {
  width: calc(100% - 70px - 1rem);
  padding-top: 0.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.search .container .list-container .card div h2 {
  font-weight: bold;
  font-size: 16px;
}
.search .container .list-container .card div h3 {
  font-weight: 400;
  font-size: 16px;
  width: 80%;
}
.search .container .list-container .card div .add, .search .container .list-container .card div .checked, .search .container .list-container .card div .show-info {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: transparent;
  border: none;
  transform: translate(0%, -50%);
}
.search .container .list-container .card div .add i, .search .container .list-container .card div .checked i, .search .container .list-container .card div .show-info i {
  font-size: 20px;
}
.search .container .list-container .card div .add.add, .search .container .list-container .card div .checked.add, .search .container .list-container .card div .show-info.add {
  cursor: pointer;
}
.search .container .list-container .card div .add.add i, .search .container .list-container .card div .checked.add i, .search .container .list-container .card div .show-info.add i {
  color: #00ACED;
}
.search .container .list-container .card div .add.checked, .search .container .list-container .card div .checked.checked, .search .container .list-container .card div .show-info.checked {
  color: green;
  cursor: pointer;
  transition: 0.4s ease all;
}
.search .container .list-container .card div .add.checked:hover, .search .container .list-container .card div .checked.checked:hover, .search .container .list-container .card div .show-info.checked:hover {
  color: red;
}
.search .container .list-container .card div .add.show-info i, .search .container .list-container .card div .checked.show-info i, .search .container .list-container .card div .show-info.show-info i {
  cursor: pointer;
  color: #00ACED;
  transition: 0.4s ease all;
}
.search .container .list-container .card div .add.show-info i:hover, .search .container .list-container .card div .checked.show-info i:hover, .search .container .list-container .card div .show-info.show-info i:hover {
  transform: scale(1.05, 1.05);
}
.search .container .list-container .card div .friend-req {
  position: absolute;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}
.search .container .list-container .card div .friend-req button {
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem;
  transition: 0.2s ease all;
}
.search .container .list-container .card div .friend-req button.confirm {
  background-color: #00ACED;
  color: white;
  cursor: pointer;
}
.search .container .list-container .card div .friend-req button.confirm:hover {
  transform: scale(1.05, 1.05);
}
.search .container .list-container .card div .friend-req button.delete {
  background-color: red;
  color: white;
  cursor: pointer;
}
.search .container .list-container .card div .friend-req button.delete:hover {
  transform: scale(1.05, 1.05);
}
.search .container .loading-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.search .friend-container {
  width: calc(100% - 350px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.search .friend-container .friend-container-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-transform: capitalize;
  background-color: rgba(233, 227, 227, 0.368627451);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
}
.search .friend-container .friend-container-control button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s ease all;
}
.search .friend-container .friend-container-control button:hover {
  color: #00ACED;
}
.search .friend-container .card-container {
  background-color: rgba(233, 227, 227, 0.368627451);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 100%;
  height: 100%;
}
.search .friend-container .card-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.search .friend-container .card-container .info-container {
  display: flex;
  gap: 4rem;
  margin: 1.5rem 0;
  min-width: 250px;
}
.search .friend-container .card-container .info-container ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search .friend-container .card-container .info-container ul li {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}
.search .friend-container .card-container .info-container ul li div {
  grid-column: 1;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.search .friend-container .card-container .info-container ul li .info {
  grid-column: 2;
}
.search .friend-container .card-container .info-container ul li i {
  background-color: red;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 0.5rem;
}
.search .friend-container .card-container .info-container ul li.username i {
  background-color: #7A9AEE;
}
.search .friend-container .card-container .info-container ul li.full-name i {
  background-color: #42D151;
}
.search .friend-container .card-container .info-container ul li.email i {
  background-color: #FF8B36;
}
.search .friend-container .card-container .info-container ul li span {
  font-weight: 500;
}
.search .friend-container .card-container .info-container ul li span.info {
  color: #00ACED;
}
.search .friend-container .card-container .info-container ul li span.info a {
  text-decoration: none;
  color: #00ACED;
}
.search .friend-container .card-container .buttons {
  display: flex;
  gap: 1rem;
  min-width: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
}
.search .friend-container .card-container .buttons button {
  background-color: #ed6468;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 0.9rem 0;
  transition: all 0.4s ease;
  width: 100%;
}
.search .friend-container .card-container .buttons button:hover {
  transform: scale(1.1, 1.1);
}
.search .friend-container .card-container .buttons .del {
  background-color: #ff3b3b;
}

@media (min-width: 320px) and (max-width: 668px) {
  .search {
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
  }
  .search .container {
    width: 100%;
    border-right: 0;
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
    padding-bottom: 0;
  }
  .search .friend-container {
    padding-top: 0;
    align-items: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    background-color: #e9e3e3;
  }
  .search .friend-container .friend-container-control {
    position: unset;
    width: 100%;
    padding: 2rem 1rem;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
  }
  .search .friend-container .friend-container-control h2 {
    font-size: 1rem;
    width: 80%;
  }
  .search .friend-container .card-container {
    border-radius: 0rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 3rem 0;
  }
  .search .friend-container .card-container .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    width: 100%;
  }
  .search .friend-container .card-container .info-container ul {
    gap: 1rem;
    width: 80%;
  }
  .search .friend-container .card-container .info-container ul li {
    gap: 0rem;
    display: flex;
  }
  .search .friend-container .card-container .info-container ul li div {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .search .friend-container .card-container .info-container ul li span.info {
    width: 50%;
    word-break: break-all;
  }
}
@media (min-width: 669px) and (max-width: 1023px) {
  .search {
    width: 100%;
    height: 100%;
  }
  .search .container {
    width: 343px;
    height: 100%;
  }
  .search .friend-container {
    padding-top: 0;
    align-items: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    background-color: #e9e3e3;
  }
  .search .friend-container .friend-container-control {
    position: unset;
    width: 100%;
    padding: 2rem 1rem;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
  }
  .search .friend-container .friend-container-control h2 {
    font-size: 1rem;
    width: 80%;
  }
  .search .friend-container .card-container {
    border-radius: 0rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 3rem 0;
  }
  .search .friend-container .card-container .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    width: 100%;
  }
  .search .friend-container .card-container .info-container ul {
    gap: 1rem;
    width: 80%;
  }
  .search .friend-container .card-container .info-container ul li {
    gap: 0rem;
    display: flex;
  }
  .search .friend-container .card-container .info-container ul li div {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .search .friend-container .card-container .info-container ul li span.info {
    width: 50%;
  }
}
.chat .friend-container {
  padding: 0;
  max-height: 90vh;
}
.chat .friend-container .friend-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 2.9rem 1rem;
  gap: 1rem;
}
.chat .friend-container .friend-nav .go-back {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #67727e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all;
}
.chat .friend-container .friend-nav .go-back i {
  font-size: 25px;
}
.chat .friend-container .friend-nav .go-back:hover {
  color: #00ACED;
}
.chat .friend-container .friend-nav .container-1 {
  display: flex;
  gap: 1rem;
  width: calc(100% - 50px - 2rem);
}
.chat .friend-container .friend-nav .container-1 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease all;
  border: 1px solid white;
}
.chat .friend-container .friend-nav .container-1 img:hover {
  border: 1px solid #00ACED;
}
.chat .friend-container .friend-nav .container-1 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-transform: capitalize;
}
.chat .friend-container .friend-nav .container-1 div h3 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.chat .friend-container .friend-nav .container-1 div h3 span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.chat .friend-container .friend-nav .container-1 div h3 span.green_status {
  background-color: #28e030;
  box-shadow: 0px 0px 15px 4px rgba(40, 224, 48, 0.3803921569);
}
.chat .friend-container .friend-nav .container-1 div h3 span.gray_status {
  background-color: gray;
  box-shadow: 0px 0px 15px 4px rgba(128, 128, 128, 0.2392156863);
}
.chat .friend-container .friend-nav .controls {
  width: 25px;
  height: 25px;
}
.chat .friend-container .friend-nav .controls i {
  cursor: pointer;
  transition: 0.4s ease all;
  font-size: 25px;
  color: rgba(255, 0, 0, 0.5803921569);
}
.chat .friend-container .friend-nav .controls i:hover {
  color: red;
}
.chat .friend-container .friend-nav .controls .options {
  background-color: rgba(0, 0, 0, 0.6392156863);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 150;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.chat .friend-container .friend-nav .controls .options .options-container {
  background-color: white;
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
.chat .friend-container .friend-nav .controls .options .options-container p {
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 20px;
  color: #324152;
}
.chat .friend-container .friend-nav .controls .options .options-container .option-buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.chat .friend-container .friend-nav .controls .options .options-container .option-buttons button {
  background-color: #ed6468;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 0.9rem 0;
  transition: all 0.4s ease;
  width: 48%;
}
.chat .friend-container .friend-nav .controls .options .options-container .option-buttons button.cancel {
  background-color: #67727e;
}
.chat .friend-container form {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.chat .friend-container form input {
  width: calc(100% - 35px);
  padding: 1rem;
  border: none;
}
.chat .friend-container form input:focus {
  outline: none;
}
.chat .friend-container form button {
  width: 35px;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.chat .friend-container form button i {
  font-size: 30px;
  color: #00ACED;
}
.chat .friend-container .chat-container {
  background-color: #74B4E0;
  width: 100%;
  height: calc(100% - 20vh);
  padding: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chat .friend-container .chat-container::-webkit-scrollbar {
  width: 5px;
}
.chat .friend-container .chat-container::-webkit-scrollbar-thumb {
  background: #00ACED;
  border-radius: 10px;
}
.chat .friend-container .chat-container::-webkit-scrollbar-thumb:hover {
  background: #0278a5;
}
.chat .friend-container .chat-container .from-me, .chat .friend-container .chat-container .recived-msg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 1rem;
  border-radius: 13px;
  padding-right: 1.2rem;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  min-width: 80px;
  max-width: 400px;
  word-wrap: break-word;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.chat .friend-container .chat-container .from-me p, .chat .friend-container .chat-container .recived-msg p {
  width: 100%;
  padding-bottom: 1rem;
}
.chat .friend-container .chat-container .from-me .date, .chat .friend-container .chat-container .recived-msg .date {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
  font-size: 12px;
  text-align: end;
  padding-right: 0.4rem;
  padding-bottom: 0.4rem;
}
.chat .friend-container .chat-container .from-me {
  background-color: #D1F2FF;
  align-self: flex-end;
}
.chat .friend-container .chat-container .from-me::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #D1F2FF 0%, #D1F2FF 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}
.chat .friend-container .chat-container .from-me::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: #74B4E0;
  border-bottom-left-radius: 10px;
}
.chat .friend-container .chat-container .recived-msg {
  background-color: #eee;
}
.chat .friend-container .chat-container .recived-msg::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.chat .friend-container .chat-container .recived-msg::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #74B4E0;
  border-bottom-right-radius: 10px;
}
.chat .img-preview {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6117647059);
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.chat .img-preview img {
  max-width: 100%;
  max-height: 100%;
}
.chat .card {
  cursor: pointer;
  transition: 0.4s ease all;
}
.chat .card:hover {
  position: relative;
}
.chat .card:hover::after {
  position: absolute;
  content: "";
  background-color: #00ACED;
  width: 50%;
  height: 5px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.chat .card .green_status, .chat .card .gray_status {
  position: relative;
}
.chat .card .green_status::after, .chat .card .gray_status::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-25%, -25%);
  background-color: #28e030;
  box-shadow: 0px 0px 20px 5px #28e030;
}
.chat .card .gray_status::after {
  background-color: gray;
  box-shadow: 0px 0px 25px 5px gray;
}
.chat .card #last-msg {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.2rem;
}
.chat .card #last-msg p {
  width: 55%;
  padding-right: 0.3rem;
  word-break: break-all;
  max-height: 100%;
}
.chat .card #last-msg p i {
  margin-left: 0.4rem;
}
.chat .card h2 {
  position: relative;
}
.chat .card h2 .unread-msg {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-color: #00ACED;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 300;
}

@media (min-width: 320px) and (max-width: 668px) {
  .chat .friend-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2392156863);
  }
  .chat .friend-container .friend-nav {
    gap: 0.5rem;
    padding: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2392156863);
  }
  .chat .friend-container .friend-nav .container-1 {
    gap: 0.5rem;
  }
  .chat .friend-container .friend-nav .container-1 div {
    width: 100%;
    gap: 0.2rem;
  }
  .chat .friend-container .friend-nav .container-1 div h2 {
    font-size: 16px;
  }
  .chat .friend-container .friend-nav .container-1 div h3 {
    font-size: 12px;
    gap: 0.1rem;
  }
  .chat .friend-container .friend-nav .container-1 img {
    width: 50px;
    height: 50px;
  }
  .chat .friend-container .friend-nav .controls .options {
    padding: 0 0.5rem;
  }
  .chat .friend-container .friend-nav .controls .options .options-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2rem 1rem;
  }
  .chat .friend-container .chat-container {
    padding: 1rem;
  }
  .chat .friend-container .chat-container .from-me, .chat .friend-container .chat-container .recived-msg {
    max-width: 100%;
  }
  .chat .friend-container form {
    padding: 0;
  }
  .chat .friend-container form input {
    height: 100%;
    padding: 0rem 10px;
    background-color: transparent;
  }
  .chat .friend-container form button {
    padding-right: 10px;
  }
}
.settings {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.settings .settings-container {
  background-color: #e9e3e3;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1rem;
}
.settings .settings-container h2 {
  text-transform: capitalize;
  color: #00ACED;
}
.settings .settings-container .err {
  color: rgba(255, 0, 0, 0.6117647059);
}
.settings .settings-container .img-container {
  position: relative;
  width: 150px;
  height: 150px;
}
.settings .settings-container .img-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.settings .settings-container .img-container input {
  display: none;
}
.settings .settings-container .img-container label {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  right: 15px;
  bottom: -7px;
  transform: translate(-20%, -20%);
  border: 3px solid #00ACED;
  cursor: pointer;
  z-index: 99;
}
.settings .settings-container .current-user-info {
  margin: 1.5rem 0;
  min-width: 450px;
}
.settings .settings-container .current-user-info ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.settings .settings-container .current-user-info ul li {
  width: 100%;
  position: relative;
  display: flex;
  gap: 1rem;
}
.settings .settings-container .current-user-info ul li div {
  width: 120px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.settings .settings-container .current-user-info ul li i {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  border-radius: 0.5rem;
}
.settings .settings-container .current-user-info ul li.full-name .icon {
  background-color: #42D151;
}
.settings .settings-container .current-user-info ul li.email .icon {
  background-color: #FF8B36;
}
.settings .settings-container .current-user-info ul li.password .icon {
  background-color: red;
}
.settings .settings-container .current-user-info ul li span.info {
  font-weight: 500;
  color: #00ACED;
  display: flex;
  align-items: center;
  width: calc(100% - 120px - 25px - 2rem);
}
.settings .settings-container .current-user-info ul li span.info a {
  text-decoration: none;
  color: #00ACED;
}
.settings .settings-container .current-user-info ul li .edit {
  background-color: #00ACED;
  height: 100%;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.settings .settings-container .edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
  margin-top: 2rem;
}
.settings .settings-container .edit-form input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #00ACED;
  padding: 0.5rem 0;
}
.settings .settings-container .edit-form input:focus {
  outline: none;
}
.settings .settings-container .edit-form input.invailed {
  border-bottom: 2px solid red;
}
.settings .settings-container .edit-form input.invailed::-moz-placeholder {
  color: red;
}
.settings .settings-container .edit-form input.invailed:-ms-input-placeholder {
  color: red;
}
.settings .settings-container .edit-form input.invailed::placeholder {
  color: red;
}
.settings .settings-container .edit-form .buttons {
  display: flex;
  align-self: flex-end;
  gap: 1rem;
}
.settings .settings-container .edit-form .buttons button {
  align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  padding: 0.5rem 0;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  transition: 0.4s ease all;
}
.settings .settings-container .edit-form .buttons button:hover {
  color: #00ACED;
  border-bottom: 2px solid #00ACED;
}
.settings .settings-container .edit-form .buttons button.close:hover {
  color: red;
  border-bottom: 2px solid red;
}

@media (min-width: 320px) and (max-width: 668px) {
  .settings {
    padding: 0;
    width: 100%;
    height: calc(100% - 80px);
  }
  .settings .settings-container {
    padding: 2rem 1rem;
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow-y: scroll;
  }
  .settings .settings-container .current-user-info {
    min-width: unset;
    width: 100%;
  }
  .settings .settings-container .current-user-info ul li {
    width: 100%;
    position: relative;
    display: flex;
    gap: 0.5rem;
  }
  .settings .settings-container .current-user-info ul li div {
    font-size: 14px;
    width: 110px;
  }
  .settings .settings-container .current-user-info ul li span.info {
    width: calc(100% - 110px - 25px - 1rem);
  }
}
@media (min-width: 669px) and (max-width: 1023px) {
  .settings {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .settings .settings-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.2392156863);
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00ACED transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */